.warn{
	color:red;
	font-size:10px;	
}
.main
{
width:1000px;
margin-left:auto;
margin-right:auto;
margin-top:50px;
font-size:16px;
line-height: 19px;
font-family: Arial,sans-serif;
/* //rgb(36, 41, 46,0.5) */
background-color: rgba(157, 184, 211, 0.3);
padding:20px 30px;
font-weight: 700;
}

input[type=text] {
    width:250px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left:8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  input[type=number], select {
    width:250px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left:8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width:250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    margin-left:8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width:250px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left:8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=radio], select {
    border: 1px solid #ccc;
    margin-left:8px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password]:hover {
    border-color: skyblue;
  }
 #ph:hover {
    border-color: skyblue;
  }
  input[type=email]:hover {
    border-color: skyblue;
  }
  input[type=number]:hover {
    border-color: skyblue;
  }
  input[type=text]:hover {
    border-color: skyblue;
  }
  input[type=radio]:hover {
    border-color: skyblue;
  }
  #ph{
    width:70px;
    padding:7px;
    border-radius: 3px;
    margin-left:8px;
    margin:auto;
}
 .one{
    width:70px;
    padding:7px;
    border-radius: 3px;
    margin-left:8px;
    margin:auto;
}
h2{
    text-align:center;
    padding:20px;
    font-size: 30px;;
}
select
{
    width: 100px;
    height:30px;
    font-size: 20px;
}
input[type="submit"]:hover
{
    color:black;
    border:1px solid black ;
    box-shadow: 0px 0px 5px black;
}
input[type="button"],input[type="submit"],button
{
    outline: none !important;
}
.register
{
    margin-top: 20px;
    width:300px;
    background-color: skyblue;
    color:white;
    border:none;
    height:40px;
    border-radius: 20px;
    border:none;
}
.register:hover
{
  color:black;
  border:1px solid black ;
  box-shadow: 0px 0px 5px black;
}
.One
{
  display:flex;
}
.Two
{
  margin-right: 50px;
}
::placeholder
{
  font-size: 18px;
}