<div class="main">
	<h2>Registration Form</h2>
		<br><br>
		<form [formGroup]="registerForm" (ngSubmit)="f.form.valid" #f="ngForm">
            <div >
                <label>Title</label>
                <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                    <option value=""></option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                    <option value="Ms">Ms</option>
                </div>
                <br>
                <br>
		
			  <div>
		
				<!-- First Name -->
				<label for="fName">First Name</label>
				<input type="text" formControlName="fName" [(ngModel)]=search.firstName [class.is-invalid]="registerForm.controls.fName.invalid && FName.touched" class="form-control" placeholder="Enter First Name">
		
				<div *ngIf="FName.invalid && FName.touched">
				  <small class="text-danger">First Name not valid.</small>
				</div>
					</div><br>
		
			  <!-- Last Name -->
			  <div class="form-group">
				<label for="lName">Last Name</label>
				<input formControlName="lName" type="text" [(ngModel)]=search.lastName [class.is-invalid]="LName.invalid && LName.touched" class="form-control" placeholder="Enter Last Name">
			  
				<div *ngIf="LName.invalid && LName.touched">
				  <small class="text-danger">Last Name not valid.</small>
				</div>
                    </div>
                    <br>
                    <!-- Contact Number -->
			  <div class="form-group">
				<label>Contact Number</label>
				<input type="number" formControlName="contactNumber" [(ngModel)]=search.phone class="form-control" [class.is-invalid]="ContactNumber.invalid && ContactNumber.touched" class="form-control" class="form-control" placeholder="Enter Contact Number">
		
				<div *ngIf="ContactNumber.invalid && ContactNumber.touched" >
				  <small class="text-danger">Phone Number not valid.</small>
				</div>  
			  </div>
		
			  
					<br>
			  <!-- Email -->
			  <div class="form-group">
				<label>Email Id</label>
				<input type="email" formControlName="email" [(ngModel)]=search.email [class.is-invalid]="Email.invalid && Email.touched" class="form-control" class="form-control" placeholder="Enter Email Address">
		
				<div *ngIf="Email.invalid && Email.touched">
				  <small class="text-danger">Email not valid.</small>
				</div>  
			  </div>
		
			  		<br>
			  <!-- Password -->
			  <div class="form-group">
				<label>Password</label>
				<input type="password" formControlName="password" [(ngModel)]=search.password class="form-control" placeholder="Enter 8 digit Password" [class.is-invalid]="registerForm.controls.password.invalid && registerForm.controls.password.touched">
		
				<div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">
				  <small class="text-danger">Password not valid.</small>
				</div>
			  </div>
		
			  		<br>
			  <!-- Confirm Password -->
			  <div class="form-group">
				<label>Confirm Password</label>
				<input formControlName="confirmPassword"  type="password" [class.is-invalid]="registerForm.errors?.misMatch"  class="form-control" placeholder="Re-type Password">
				<small class="text-danger" *ngIf="registerForm.errors?.misMatch"><br>Password do not match</small>  
			  </div>
		
			  		<br>
			  
			  		<br>	
			  <!-- OnSubmit button -->
			  <div class="form-group" style="text-align:center">
				<button class="register" (click)="register()">Register</button>
			  </div>
		
	</form>
	
</div>










