.main {
  height: max-content;
  display: flex;
  margin-left: 20%;
}

p {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 50px;
}

tr td:nth-of-type(1) {
  display: inline-block;
  padding-left: 20%;
}

table {
  width: 500px;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 3%;
  font-size: 18x;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(112, 112, 112);
  transition: 0.3s;
  background-color: #dcdcdc;
}

input[type="button"],
input[type="submit"],
button {
  outline: none !important;
}
.register {
  margin-top: 20px;
  width: 300px;
  background-color: red;
  color: white;
  border: none;
  height: 30px;
  border-radius: 20px;
}

.register:hover {
  color: black;
  border: 1px solid black;
  box-shadow: 0px 0px 5px black;
}

.modal-header {
  background-color: rgb(245, 245, 245, 0.8);
}

.modal-footer {
  background-color: rgb(245, 245, 245, 0.8);
}
.container {
  width: 400px !important;
  padding: 20px 30px;
}
label {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
.panel {
  background-color: white;
  margin-left: 26%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
  width: 50%;
}

.panel:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h4 {
  margin: 10px 20px;
  font-size: 20px;
}
a {
  color: black;
  text-decoration: none;
}
i {
  outline: none;
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

mat-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 8%;
  border-radius: 8px;
}
mat-card-content {
  margin-top: 20px;
}
