.main {
  height: max-content;
  display: flex;
  margin-left: 20%;
}

p {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 50px;
}

tr td:nth-of-type(1) {
  display: inline-block;
  padding-left: 20%;
}

table {
  width: 500px;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 18x;
  font-family: Arial, sans-serif;
  background-color: rgb(245, 245, 245, 0.8);
}

input[type="button"],
input[type="submit"],
button {
  outline: none !important;
}
.register {
  margin-top: 20px;
  width: 300px;
  background-color: red;
  color: white;
  border: none;
  height: 30px;
  border-radius: 20px;
}

.register:hover {
  color: black;
  border: 1px solid black;
  box-shadow: 0px 0px 5px black;
}

.modal-header {
  background-color: rgb(245, 245, 245, 0.8);
}

.modal-footer {
  background-color: rgb(245, 245, 245, 0.8);
}
.container {
  width: 400px !important;
  padding: 20px 30px;
}
label {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
