
<div class="container">
  <p>Search your Booking Details</p>
  <div style="color: red;font-size: 20px;margin-bottom: 10px;">{{ message }}</div>
		<form [formGroup]="SearchTicketForm" (ngSubmit)="f.valid" #f="ngForm">
      <div class="form-group">

      <!-- Ticket Id-->
      <div>
        <label>Booking Id </label> 
        <input type="text" name="" [(ngModel)]=search.bookingId formControlName="ticketId"  class="form-control" placeholder="Enter Ticket Id" [class.is-invalid]="TicketId.invalid && TicketId.touched">

        <div *ngIf="TicketId.invalid && TicketId.touched">
          <small class="text-danger">TicketId not valid.</small>
        </div> 
			</div>
      
          <br>
      <!-- OnSubmit button -->
      <div class="form-group" style="text-align:center">
        <input type="submit" value="Search Details" class="btn btn-primary" (click)="searchTicket()" [disabled]="disabled">
      </div>

      </div>
    </form>
   
</div>

<div class="full">
  <div *ngIf="show" class="main" >
    <div  let index = "index">
      <div id="print-details">
        <table>
          <h2>Booking Details</h2>
          <tr>
            <td><h3>Booking-Id</h3></td>
            <td style="display: inline-block;padding-left: 20%;">
              <h3>&nbsp;&nbsp;{{ bookings.bookId }}</h3>
            </td>
          </tr>

          <!--<tr>
            <td><h3>Date of booking</h3></td>
            <td style="display: inline-block;padding-left: 14%;">
              <h3> {{ book.dateOfBooking }}</h3>
            </td>
          </tr>-->

          <tr>
            <td><h3>Date of Journey</h3></td>
            <td style="display: inline-block;padding-left: 12%;">
              <h3>&nbsp;&nbsp;{{ bookings.travelDate }}</h3>
            </td>
          </tr>
          <tr>
            <td><h3>Number of Seats</h3></td>
            <td style="display: inline-block;padding-left: 12%;">
              <h3>&nbsp;&nbsp; {{ bookings.noOfSeats }}</h3>
            </td>
          </tr>
          <!--<tr>
            <td><h3>Flight Number</h3></td>
            <td style="display: inline-block;padding-left: 15%;">
              <h3>&nbsp;&nbsp; {{ book.flightNumber }}</h3>
            </td>
          </tr>-->
          <tr>
            <td><h3>From</h3></td>
            <td style="display: inline-block;padding-left: 25%;">
              <h3>&nbsp;&nbsp; {{ bookings.from }}</h3>
            </td>
          </tr>
          <tr>
            <td><h3>To</h3></td>
            <td style="display: inline-block;padding-left: 30%;">
              <h3>&nbsp;&nbsp; {{ bookings.to }}</h3>
            </td>
          </tr>
          <tr>
            <td><h3>Start Time</h3></td>
            <td style="display: inline-block;padding-left: 20%;">
              <h3>&nbsp;&nbsp; {{ bookings.startTime }}</h3>
            </td>
          </tr>
          <tr>
            <td><h3>End Time</h3></td>
            <td style="display: inline-block;padding-left: 20%;">
              <h3>&nbsp;&nbsp;{{ bookings.endTime }}</h3>
            </td>
          </tr>
          <tr>
            <td><h3>Seats Selected</h3></td>
            <td style="display: inline-block;padding-left: 12%;">
              <h3>&nbsp;&nbsp; {{ bookings.seatSelected }}</h3>
            </td>
          </tr>

          <!--<tr>
            <td><h3>Ticket Fare</h3></td>
            <td style="display: inline-block;padding-left: 20%;">
              <h3>&nbsp;&nbsp; {{ book.price }}</h3>
            </td>
          </tr>-->
          <tr>
            <td><h3>Class</h3></td>
            <td style="display: inline-block;padding-left: 25%;">
              <h3>&nbsp;&nbsp; {{ bookings.flightClass }}</h3>
            </td>
          </tr>
          <div class="form-group" style="text-align: center">
            <button class="register" (click)="open(content, index)">Cancel</button>
          </div>
        </table>
      </div>
      
    </div>
  
    <div class="main1" *ngIf="show1">
      <div  let index = "index">
        <div id="print-details">
          <table>
            <h2>Return Booking Details</h2>
            <tr>
              <td><h3>Return-Id</h3></td>
              <td style="display: inline-block;padding-left: 20%;">
                <h3>&nbsp;&nbsp;{{ bookings.returnId }}</h3>
              </td>
            </tr>

            <!--<tr>
              <td><h3>Date of booking</h3></td>
              <td style="display: inline-block;padding-left: 14%;">
                <h3> {{ book.returnDateOfBooking }}</h3>
              </td>
            </tr>-->

            <tr>
              <td><h3>Date of Journey</h3></td>
              <td style="display: inline-block;padding-left: 12%;">
                <h3>&nbsp;&nbsp;{{ bookings.returnTravelDate }}</h3>
              </td>
            </tr>
            <tr>
              <td><h3>Number of Seats</h3></td>
              <td style="display: inline-block;padding-left: 12%;">
                <h3>&nbsp;&nbsp; {{ bookings.returnNoOfSeats }}</h3>
              </td>
            </tr>
            <!--<tr>
              <td><h3>Flight Number</h3></td>
              <td style="display: inline-block;padding-left: 15%;">
                <h3>&nbsp;&nbsp; {{ book.flightNumber }}</h3>
              </td>
            </tr>-->
            <tr>
              <td><h3>From</h3></td>
              <td style="display: inline-block;padding-left: 25%;">
                <h3>&nbsp;&nbsp; {{ bookings.returnFrom }}</h3>
              </td>
            </tr>
            <tr>
              <td><h3>To</h3></td>
              <td style="display: inline-block;padding-left: 30%;">
                <h3>&nbsp;&nbsp; {{ bookings.returnTo }}</h3>
              </td>
            </tr>
            <tr>
              <td><h3>Start Time</h3></td>
              <td style="display: inline-block;padding-left: 20%;">
                <h3>&nbsp;&nbsp; {{ bookings.returnStartTime }}</h3>
              </td>
            </tr>
            <tr>
              <td><h3>End Time</h3></td>
              <td style="display: inline-block;padding-left: 20%;">
                <h3>&nbsp;&nbsp;{{ bookings.returnEndTime }}</h3>
              </td>
            </tr>

            <!--<tr>
              <td><h3>Ticket Fare</h3></td>
              <td style="display: inline-block;padding-left: 20%;">
                <h3>&nbsp;&nbsp; {{ bookings.price }}</h3>
              </td>
            </tr>-->
            <tr>
              <td><h3>Seats Selected</h3></td>
              <td style="display: inline-block;padding-left: 12%;">
                <h3>&nbsp;&nbsp; {{ bookings.returnSeatSelected }}</h3>
              </td>
            </tr>
            <tr>
              <td><h3>Class</h3></td>
              <td style="display: inline-block;padding-left: 25%;">
                <h3>&nbsp;&nbsp; {{ bookings.returnFlightClass }}</h3>
              </td>
            </tr>
            <div class="form-group" style="text-align: center">
              <button class="register" (click)="open1(content,index)">Cancel</button>
            </div>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">
      Are you sure you want to Cancel?
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      id="yes"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Yes
    </button>

    <button
      type="button"
      id="no"
      ngbAutofocus
      class="btn btn-outline-dark"
      (click)="modal.close('Cancel click')"
    >
      No
    </button>
  </div>
</ng-template>
