.return
{
    display:flex;
}
.main1
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.main
{
margin-top:50px;
font-size:16px;
line-height: 19px;
font-family: Arial,sans-serif;
/* //rgb(36, 41, 46,0.5) */
background-color: rgba(157, 184, 211, 0.3);
padding:20px 30px;
font-weight: 500;
}
.card
{
    margin-bottom: 10px;
    height: 100px;
    border-color: skyblue;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(6, 146, 134, 0.473);
}
.One
{
    display: grid;
}
.Two
{
    display: flex;
}
p
{
   font-size: 20px;
   margin-right:60px;
}
.TwoOne{
    margin-left:65px;
    margin-right:230px;
    font-size:15px;
}
.price
{
    margin-top:10px;
    margin-left: 30px;
}
input[type="radio"]
{
    height: 25px;
    width: 25px;
    margin-right: 20px;
    margin-top:10px;
}
.duration
{
    border-bottom: 2px solid black;
    padding-right:30px;
    padding-left:30px;
}
input[type="submit"]
{
    outline: none !important;
    background-color: skyblue;
    border-radius: 20px;
    width:200px;
    height:40px;
    color: white;
    border:none;
    font-size:20px;
    margin-top: 10px;
}
input[type="submit"]:hover
{
    color:black;
    border:1px solid black ;
    box-shadow: 0px 0px 5px black;
}
h1{
    
    font-weight: 700;
}