.main
{
width:500px;
margin-left:auto;
margin-right:auto;
margin-top:50px;
font-size:16px;
line-height: 19px;
font-family: Arial,sans-serif;
background-color: rgba(157, 184, 211, 0.3);
padding:20px 30px;
font-weight: 700;
}
h4{
    margin-bottom: 10px;
}
::placeholder
{
    font-size:16px;
}
.One
{
    display:flex;
}
.Two
{
    margin-right: 60px;
    
}
input[type="time"]
{
    width: 170px !important;
} 
select{
    width:170px !important;
}
.cabin
{
    width:170px !important;
}
