<div class="back">
    <button class="btn btn-primary" routerLink="/dashboard">Back</button>
</div>
<div class="main">
    <div>
        <h2>Delete Flight</h2>
    </div>
   <form #myForm="ngForm" (ngSubmit)="myForm.valid && submit()">
        <div class="form-group">
            <label>Flight Number:</label>
            <input type="text" class="form-control" placeholder="Enter the Flight Number" 
                name="flightNumber" [(ngModel)]="df.flightNumber"  #flightNumber="ngModel" required />
                <div *ngIf="(flightNumber.touched && !flightNumber.valid) || (!flightNumber.valid && myForm.submitted)">
                    <small class="text-danger">Flight number required</small>
                    </div> 
        </div>
        <div class="form-group">
            <label>Date Of Cancellation:</label>
            <input type="date" class="form-control" 
                name="cancelDate" [(ngModel)]="df.travelDate"  #canceldate="ngModel" required />
                <div *ngIf="(canceldate.touched && !canceldate.valid) || (!canceldate.valid && myForm.submitted)">
                    <small class="text-danger">Date is required</small>
                    </div> 
        </div>
        <div>
            <button class="btn btn-danger" type="submit">Delete Flight Details</button>
        </div>
        
    </form>
</div>
