.main
{
width:500px;
margin-left:auto;
margin-right:auto;
margin-top:50px;
font-size:16px;
line-height: 19px;
font-family: Arial,sans-serif;
background-color: rgba(157, 184, 211, 0.3);
padding:20px 30px;
font-weight: 700;
}
