<main>

    <!-- hero content -->
    <div class="about-hero">
        <!-- content for the hero -->
        <div class="about-hero-content">
            <h1 class="hero-title">About Us.</h1>
        </div>
    </div>       


    <!-- Paragraph -->
    <div class="para">
        <h4> Hello Travellers,</h4>
        <h4>Founded in 15 August of 2020 and based in Bangalore,this travel company is the most trusted community for people to travel with peace and security by booking online or from a mobile phone.</h4>
        <ul style="padding-left:30px">
            <li>Security</li>
            <li>Comfort</li>
            <li>Luxury</li>
            <li>Best in class.</li>
        </ul>
        <p>Sayan Mitra is Founder and CEO at AirAviation. He started working early at the age of 22.</p>
        <p>This is a first Bangalore based startup which provides all round luxury for travelling in your journey at Reasonable price.</p>
        <p>“It’s difficult to travel with Economic and comfort while in a . Don’t worry, Air Aviation is here to rescue you”</p>
        <p>We take orders through calls & website.</p>
        <a href="" style="color: red">www.AirAviation.com</a> or <a href="tel:8651888999" style="color: red">+91-8209040155</a>
    </div>   
            
            
    <!-- features section -->
    <!-- <div class="site-section">
    <div class="site-section-inside">

        <div class="section-header">
            <h2>Key Features</h2>
        </div>

        <div class="feature-box">
            <img src="assets/like.png" alt="Easy to Use">
            <h5>Lorem ipusm</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur minima tenetur, voluptas repellendus et perspiciatis sint. Unde saepe, culpa recusandae deserunt officia, quo illum blanditiis reiciendis! Cum, iste perspiciatis obcaecati.</p>
        </div>

        <div class="feature-box">
            <img src="assets/faces.png" alt="Fun to Use">
            <h5>Lorem Ipsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur minima tenetur, voluptas repellendus et perspiciatis sint. Unde saepe, culpa recusandae deserunt officia, quo illum blanditiis reiciendis! Cum, iste perspiciatis obcaecati.</p>
        </div>

        <div class="feature-box">
            <img src="assets/heart.png" alt="Fun to Use">
            <h5>LorepIpsum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur minima tenetur, voluptas repellendus et perspiciatis sint. Unde saepe, culpa recusandae deserunt officia, quo illum blanditiis reiciendis! Cum, iste perspiciatis obcaecati.</p>
        </div>

    </div>
    </div>   -->

    <!-- testimonials section -->
    <div class="site-section site-section-secondary">
    <div class="site-section-inside">

        <div class="section-header">
            <h2>What the people say</h2>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Their service is by far the most influential I've ever seen.
            </div>
            <div class="testimonial-author">
                <!-- <img src="assets/mani.jpg" alt="David East"> -->
                <h5>Mani Chandana</h5>
                <span>Travelled to Delhi</span>
            </div>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Their service is by far the most influential I've ever seen.
            </div>
            <div class="testimonial-author">
                <!-- <img src="assets/harshit.jpg" alt="Holly Lloyd"> -->
                <h5>Harshit Gupta</h5>
                <span>Travelled to Mumbai</span>
            </div>
        </div>

        <div class="testimonial-box">
            <div class="testimonial-content">
                Their service is by far the most influential I've ever seen.
            </div>
            <div class="testimonial-author">
                <!-- <img src="assets/anshul.jpg" alt="Brad Green"> -->
                <h5>Anshul</h5>
                <span>Travelled to pune</span>
            </div>
        </div>

    </div>
    </div>

</main>
