/*.hero           {
    min-height: 680px;
    text-align: center;
    //background-image: url('../../assets/sky.jpg');
    background-size: cover;
  }*/
  .hero-content   {
    color: #FFF;
    padding-top: 130px;
  }
  .hero-content h1   {
    font-size: 100px;
    margin: 0;
  }
  
  .about-hero           {
    min-height: 500px;
    text-align: center;
    background-image: url('../../assets/bg_images/aero5.jpg');
    background-size: cover;
  }
  .about-hero-content   {
    color: black;
    padding-top: 130px;
  }
  .about-hero-content h1   {
    font-size: 100px;
    margin: 0;
  }
  
  .hero-content p    {
    font-size: 50px;
  }
  .hero-content a    {
    display: inline-block;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;
  }
  
  /* basic site sections */
  .site-section   {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .site-section-secondary   {
    background: #EFEFEF;
  }
  .site-section-inside   {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-header {
    text-align: center;
    margin-bottom: 30px;
  }
  .section-header h2  {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color: #777;
  }
  
  /*paragraph in about*/
  .para{
    padding-top: 80px;
    padding-left:120px;
    padding-right: 40px;
    background-color: white;
  }
  
  /* feature boxes */
  .feature-box   {
    display: inline-block;
    width: 27%;
    padding: 20px 30px;
  }
  .feature-box img  {
    margin-bottom: 12px;
    width: 80px;
  }
  .feature-box h5   {
    font-size: 20px;
    color: #999;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
  }
  
  /* testimonial boxes */
  .testimonial-box   {
    display: inline-block;
    width: 27%;
    padding: 20px 30px;
  }
  .testimonial-content   {
    background: #FFF;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .testimonial-author img {
    float: left;
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
  }
  .testimonial-author h5   {
    font-size: 18px;
    margin: 0;
    padding-top:15px;
  }
  .testimonial-author span {
    font-size: 14px;
  }
    
  .input-type{
    width:20%;
  } 
  
  .input-type:focus{
      border-color:dodgerBlue;
      box-shadow:0 0 8px 0 dodgerBlue;
  
  }
  
  