<div>
    <div class="main One">
        <img src="assets/bg_images/front.png" alt="">
        <div class="secondmain">
            <div class="Two">
                <div>
                    <span></span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                </div>
                <div>
                    <span>F</span>
                    <input type="checkbox" name="1F" value="1F" id="" (change)="forTesting($event)">
                    <input type="checkbox" name="2F" id="">
                    <input type="checkbox" name="3F" id="">
                    <input type="checkbox" name="4F" id="">
                    <input type="checkbox" name="5F" id="">
                    <input type="checkbox" name="6F" id="">
                    <input type="checkbox" name="7F" id="">
                    <input type="checkbox" name="8F" id="">
                    <input type="checkbox" name="9F" id="">
                    <input type="checkbox" name="10F" id="">
                </div>
                <div>
                    <span>E</span>
                    <input type="checkbox" name="1E" id="">
                    <input type="checkbox" name="2E" id="">
                    <input type="checkbox" name="3E" id="">
                    <input type="checkbox" name="4E" id="">
                    <input type="checkbox" name="5E" id="">
                    <input type="checkbox" name="6E" id="">
                    <input type="checkbox" name="7E" id="">
                    <input type="checkbox" name="8E" id="">
                    <input type="checkbox" name="9E" id="">
                    <input type="checkbox" name="10E" id="">
                </div>
                <div>
                    <span>D</span>
                    <input type="checkbox" name="1D" id="">
                    <input type="checkbox" name="2D" id="">
                    <input type="checkbox" name="3D" id="">
                    <input type="checkbox" name="4D" id="">
                    <input type="checkbox" name="5D" id="">
                    <input type="checkbox" name="6D" id="">
                    <input type="checkbox" name="7D" id="">
                    <input type="checkbox" name="8D" id="">
                    <input type="checkbox" name="9D" id="">
                    <input type="checkbox" name="10D" id="">
                </div>
                <div>
                    <span>C</span>
                    <input type="checkbox" name="1C" id="">
                    <input type="checkbox" name="2C" id="">
                    <input type="checkbox" name="3C" id="">
                    <input type="checkbox" name="4C" id="">
                    <input type="checkbox" name="5C" id="">
                    <input type="checkbox" name="6C" id="">
                    <input type="checkbox" name="7C" id="">
                    <input type="checkbox" name="8C" id="">
                    <input type="checkbox" name="9C" id="">
                    <input type="checkbox" name="10C" id="">
                </div>
                <div>
                    <span>B</span>
                    <input type="checkbox" name="1B" id="">
                    <input type="checkbox" name="2B" id="">
                    <input type="checkbox" name="3B" id="">
                    <input type="checkbox" name="4B" id="">
                    <input type="checkbox" name="5B" id="">
                    <input type="checkbox" name="6B" id="">
                    <input type="checkbox" name="7B" id="">
                    <input type="checkbox" name="8B" id="">
                    <input type="checkbox" name="9B" id="">
                    <input type="checkbox" name="10B" id="">
                </div>
                <div>
                    <span>A</span>
                    <input type="checkbox" name="1A" id="">
                    <input type="checkbox" name="2A" id="">
                    <input type="checkbox" name="3A" id="">
                    <input type="checkbox" name="4A" id="">
                    <input type="checkbox" name="5A" id="">
                    <input type="checkbox" name="6A" id="">
                    <input type="checkbox" name="7A" id="">
                    <input type="checkbox" name="8A" id="">
                    <input type="checkbox" name="9A" id="">
                    <input type="checkbox" name="10A" id="">
                </div>
            </div>
        </div>
        <img src="assets/bg_images/tail.png" alt="">

    </div>
</div>