<div class="mainTotal">
    <form>
        <p class="heading">Select your Seats Here</p>
        <p class="para">{{finalpassengers-passengers}} of {{finalpassengers}} are selected</p>
        <div class="main One">
            <img src="assets/bg_images/front.png" alt="">
            <div class="secondmain">
                <div>
                    <div>
                        <span class="forSpan"></span>
                        <span class="forSpan">1</span>
                        <span class="forSpan">2</span>
                        <span class="forSpan">3</span>
                        <span class="forSpan">4</span>
                        <span class="forSpan">5</span>
                        <span class="forSpan">6</span>
                        <span class="forSpan">7</span>
                        <span class="forSpan">8</span>
                        <span class="forSpan">9</span>
                        <span class="forSpan">10</span>
                    </div>
                    <div>
                        <span class="forSpan">F</span>
                        <span *ngFor="let n of numbers">
                            <input *ngIf="checkBlockedSeatsF(n)" type="checkbox" name="{{n}}F" value="{{n}}F"
                                [disabled]="disabled" (change)="forTesting($event)">
                            <div *ngIf="!checkBlockedSeatsF(n)" class="blockedSeat"></div>
                        </span>
                    </div>
                    <div>
                        <span class="forSpan">E</span>
                        <span *ngFor="let n of numbers">
                            <input *ngIf="checkBlockedSeatsE(n)" type="checkbox" name="{{n}}E" value="{{n}}E"
                                [disabled]="disabled" (change)="forTesting($event)">
                            <div *ngIf="!checkBlockedSeatsE(n)" class="blockedSeat"></div>
                        </span>
                    </div>
                    <div>
                        <span class="forSpan">D</span>
                        <span *ngFor="let n of numbers">
                            <input *ngIf="checkBlockedSeatsD(n)" type="checkbox" name="{{n}}D" value="{{n}}D"
                                [disabled]="disabled" (change)="forTesting($event)">
                            <div *ngIf="!checkBlockedSeatsD(n)" class="blockedSeat"></div>
                        </span>
                    </div>
                    <div>
                        <span class="forSpan">C</span>
                        <span *ngFor="let n of numbers">
                            <input *ngIf="checkBlockedSeatsC(n)" type="checkbox" name="{{n}}C" value="{{n}}C"
                                [disabled]="disabled" (change)="forTesting($event)">
                            <div *ngIf="!checkBlockedSeatsC(n)" class="blockedSeat"></div>
                        </span>
                    </div>
                    <div>
                        <span class="forSpan">B</span>
                        <span *ngFor="let n of numbers">
                            <input *ngIf="checkBlockedSeatsB(n)" type="checkbox" name="{{n}}B" value="{{n}}B"
                                [disabled]="disabled" (change)="forTesting($event)">
                            <div *ngIf="!checkBlockedSeatsB(n)" class="blockedSeat"></div>
                        </span>
                    </div>
                    <div>
                        <span class="forSpan">A</span>
                        <span *ngFor="let n of numbers">
                            <input *ngIf="checkBlockedSeatsA(n)" type="checkbox" name="{{n}}A" value="{{n}}A"
                                [disabled]="disabled" (change)="forTesting($event)">
                            <div *ngIf="!checkBlockedSeatsA(n)" class="blockedSeat"></div>
                        </span>
                    </div>
                </div>
            </div>
            <img src="assets/bg_images/tail.png" alt="">

        </div>
        <p class="classheading">Your Selected Seat(s) {{str}}</p>
        <input type="reset" value="Reset" (click)="uncheckAll()">
        <input type="submit" value="Continue" (click)="Continue()">
        <div class="Two" style="float: right;padding: 10px;border-radius: 3px;">
            <div>
                <div style="color: white;font-size: 20px;padding-right: 57px;">Not-Available </div>
                <div class="blockedSeat" style="float: right;"></div>
            </div>
            <div>
                <div style="color: white;font-size: 20px;padding-right: 57px;">Available </div>
                <div class="availableSeat" style="float: right;"></div>
            </div>
        </div>
    </form>
</div>