<nav class="navbar navbar-expand-lg navbar-light container navnav">
    <a class="navbar-brand h1" href="#"><i class="fa fa-plane" style="font-size:36px;"></i> Air Aviation</a>
    <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">BookingDetails</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login/SignUp</a>
          </li>   
        </ul>
    </div>
  </nav>
<app-registration></app-registration>