.navnav
{
    margin-bottom: 10px;
}
.nav-link
{
    color: black !important;
    font-weight: 500;
    font-size:20px;
}
a:hover
{
    background-color: skyblue;
    border-radius: 20px;
    color:white;
}