.main
{
width: 1250px;
margin-left: auto;
margin-right: auto;
margin-top:50px;
font-size:16px;
line-height: 19px;
font-family: Arial,sans-serif;
/* //rgb(36, 41, 46,0.5) */
background-color: rgba(157, 184, 211, 0.3);
padding:20px 30px;
font-weight: 500;
}
.card
{
    width: 800px;
    height: 130px;
    margin-bottom: 10px;
    border-color: skyblue;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(6, 146, 134, 0.473);
}
.One
{
    display: grid;
}
.Two
{
    display: flex;
    margin-bottom: 10px;
}
p
{
   font-size: 25px;
}
p:not(.price)
{
    margin-right: 70px;
}
.TwoOne{
    font-size:20px;
    margin-right: 230px !important;
    margin-left: 10px;
}
.time
{
    font-size: 35px;
}
.duration
{
    border-bottom: 2px solid black;
    padding-right:30px;
    padding-left:30px;
    font-size: 22px;
}
.heading
{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.classheading
{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cardOne
{
    margin-top:40px;
    background-color: white;
    padding:15px 10px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 30px;
    border-color: skyblue;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(6, 146, 134, 0.473);
}
.fare
{
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px solid slategrey;
    width: 260px;
}
input[type="submit"],input[type="button"]
{
    outline: none !important;
    background-color: skyblue;
    border-radius: 20px;
    width:250px;
    height:40px;
    color: white;
    border:none;
    font-size:20px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 15%;
}
input[type="submit"]:hover,input[type="button"]:hover
{
    color:black;
    border:1px solid black ;
    box-shadow: 0px 0px 5px black;
}
.cardTwo
{
    width: 1000px;
    padding: 15px;
    height: max-content;
    background-color: white;
    border-top-color: lightgray;
    border-radius: 5px;
    margin-bottom: 2px !important;
}
img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.forDetails{
    margin-top: 12px;
    width: 100px;
    margin-right: 20px !important;
}
.forDetails1
{
    margin-top: 12px;
    width: 180px;
    margin-right: 20px !important;
}
.forDetails2
{
    margin-top: 12px;
    width: 220px;
    margin-right: 20px !important;
}