.heading h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 37%;
    color: #f34541;
    font-size: 27px;
  }
  
  .head {
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
  }
  
  .passengerNumber {
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
  }
  
  .input-text {
    margin: 20px;
    border: 2px solid;
    border-color: gray;
    border-radius: 0.4rem;
    padding: 10px;
    display: inline-block;
    width: max-content;
    margin-right: 70px;
    height: 50px;
  }
  
  .input-text1 {
    margin: 20px;
    border: 2px solid;
    border-color: gray;
    border-radius: 0.4rem;
    padding: 10px;
    display: inline-block;
    width: 150px;
    margin-right: 70px;
    height: 50px;
  }
  
  .list ul li button {
    position: absolute;
    right: 0%;
    background: #f34541;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
  }
  
  .passengerEntry {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: max-content;
    display: block;
    padding: 20px;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  .passengerEntry:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .add-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #7313cb;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
  }
  
  .add-btn:hover {
    opacity: 0.5;
  }
  
  .btn {
    position: absolute;
    right: 0%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: red;
    margin-bottom: 6px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  ul {
    /* remove default padding and margin from ul*/
    margin: 0px;
    padding: 0px;
  }
  
  .list ul li {
    display: block;
    width: 1002px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    line-height: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    padding: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 2%;
  }
  
  .container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: max-content;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 1%;
    margin-left: 150px;
    background-color: white;
  }
  
  .ng-valid[required],
  .ng-valid.required {
    border-left: 5px solid #42a948;
  }
  
  .ng-invalid:not(form) {
    border-left: 5px solid #a94442;
  }
  
  #inner {
    width: max-content;
    margin: 20px;
  }
  
  .child {
    display: inline-block;
    margin-top: 10px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .datachild {
    font-weight: bold;
    font-size: medium;
  }
  