<div class="main">
    <div>
        <h2 style="text-align: center;"> <i class="fa fa-user"></i><label style="color:red"> Welcome Admin</label></h2>
    </div>
    <div class="form-group">
        <label>1. Do you want to add a new flight</label>
        <div>
            <button class="btn btn-primary" routerLink="/addFlight">Add New Flight</button>
        </div>
    </div>
    <div class="form-group">
        <label>2. Do you want to delete a flight</label>
        <div>
            <button class="btn btn-primary" routerLink="/deleteFlight">Delete Flight</button>
        </div>
    </div>
    <!--
        <div class="form-group">
        <label>3. Do you want to view flights</label>
        <div>
            <button class="btn btn-primary">View Flight</button>
        </div>
    </div>
-->
</div>
