<div class="main">
    <div>
        <h2 style="text-align: center;"> <i class="fa fa-user"></i><label style="color:red"> Welcome Admin</label></h2>
    </div>
</div>
    <div class="main">
    <div class="form-group">
        <label style="color:black">Do you want to add a new flight</label>
        <div class="addButton">
        <button class="btn btn-primary" routerLink="/addFlight">Add Flight</button>
    </div>
    </div>
</div>    
    <div class="main">
        <div class="form-group">
        <label style="color:black">Do you want to delete a flight</label>
        <div class="deleteButton">
        <button class="btn btn-primary" routerLink="/deleteFlight">Delete Flight</button>
    </div>        
    </div>
</div>
    

<div class="main">
    <div class="form-group">
         <label style="color:black">Do you want to view flights</label>
        <div class="viewButton">
          <button class="btn btn-primary" routerLink="/viewFlight">View Flights</button>
     </div>        
    </div>
</div>


