.login-page {
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  mat-card {
    width: 35%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5%;
    margin-top:50px;
    border-radius: 8px;
  }

  mat-form-field, mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
  }
  
  mat-card-content {
    margin-top: 20px;
  }
  
  .login-button {
    width: 39%;
    margin: 10px 134px auto;
  }
  
  
  