<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="User Login">
          <mat-card-content>
            <form #userLoginForm="ngForm" class="form-group">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  class="form-control"
                  required
                  [(ngModel)]="userEmail"
                  name="email"
                  ngModel
                  #useremail="ngModel"
                />
                <mat-error *ngIf="useremail.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
  
              <mat-form-field>
                <input
                  matInput
                  placeholder="New Password"
                  class="form-control"
                  type="password"
                  required
                  [(ngModel)]="userPassword"
                  minlength="6"
                  name="password"
                  ngModel
                  #userpassword="ngModel"
                />
  
                <mat-error
                  *ngIf="userpassword.errors && userpassword.errors.required"
                >
                  Password is required
                </mat-error>
  
                <mat-error
                  *ngIf="userpassword.errors && userpassword.errors.minlength"
                >
                  Password must be of length 6
                </mat-error>
  
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <!-- <mat-form-field>
                <input
                  matInput
                  placeholder="Confirm Password"
                  class="form-control"
                  type="password"
                  required
                  [(ngModel)]="userPassword"
                  minlength="6"
                  name="password"
                  ngModel
                  #userpassword="ngModel"
                />
  
                <mat-error
                  *ngIf="userpassword.errors && userpassword.errors.required"
                >
                  Password is required
                </mat-error>
  
                <mat-error
                  *ngIf="userpassword.errors && userpassword.errors.minlength"
                >
                  Password must be of length 6
                </mat-error>
  
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field> -->
  
              <button
                mat-raised-button
                [disabled]="!userLoginForm.form.valid"
                color="primary"
                class="login-button"
                (click)="changePassword()"
              >
                Change Password
              </button>

            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  